<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song form</title>
</head>
<body>
<form action="#" method="post" th:action="@{/songform}" th:object="${song}">
    Name: <input th:field="*{name}" type="text"/><br/>
    Artist: <input th:field="*{artist}" type="text"/><br/>
    Album: <input th:field="*{album}" type="text"/><br/>
    Rating: <input th:field="*{rating}" type="number"/><br/>
    Year: <input th:field="*{year}" type="number"/><br/>
    <input th:field="Submit" type="submit"/><br/>
</form>
</body>
</html>